.text-container
  %p
  Enter the email addresses of the users you would like to invite. They should be separated by a comma or semicolon.
  The following formats can be used:
%ul
  %li
    john@example.com
  %li
    John Doe #{"<john@example.com>"}
  %li
    "John Doe" #{"<john@example.com>"}
= simple_form_for @team_invite_submissions, url: create_invites_path do |f|
  = f.text_area(:emails, id: 'email-invite-textarea')
  .form-actions.actions
    = button_tag(type: :submit, class: 'btn btn-default btn-invite', id: 'send-invites') do
      <i class="fa fa-paper-plane" aria-hidden="true"></i> Send invites
