= render 'layouts/header'
.page
  .settings-container
    .title-container
      %h1.settings-title
        Invite users to #{current_team.name}
      .actions
        = link_to manage_team_path(team: current_team.slug), method: "get", class: 'btn secondary' do
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to manage
    - flash.each do |key, value|
      .message-container.show-message
        .margin-bottom{:class => "#{key}-message"}
          %span.message
            .fa.fa-exclamation-circle
            .message{:class => key}= value
          .fa.fa-times.close-message
    = render 'team_invite/invite_form'