%h2.settings-subtitle
  Invite users
  - if @team_invite_submissions.errors.any?
    - @team_invite_submissions.errors.full_messages.each do |msg|
      .message-container.show-message
        .margin-bottom{:class => "error-message"}
          %span.message
            .fa.fa-exclamation-circle
            .message{class: :error}= msg
%p
  Enter the email addresses of the users you would like to invite. They should be separated by a comma or semicolon.
  The following formats can be used:
%ul
  %li
    john@example.com
  %li
    John Doe #{"<john@example.com>"}
  %li
    "John Doe" #{"<john@example.com>"}
= form_for(@team_invite_submissions, url: {controller: :team_invite, action: :create}) do |f|
  = f.text_area(:emails, id: 'email-invite-textarea')
  .form-actions.actions
    = button_tag(type: :submit, class: 'btn btn-default', id: 'send-invites') do
      <i class="fa fa-paper-plane" aria-hidden="true"></i> Send invites

