= render 'layouts/header'
.page
  .settings-container
    .title-container
      %h1.settings-title
        Teams
      .actions
        = link_to root_path, method: "get", class: 'btn secondary' do
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to home
    - if notice
      .message-container.success-message.margin-top
        %span.message
          .fa.fa-exclamation-circle
          #notice= notice
    %h2.settings-subtitle
      Create new team
      %a.fa.fa-question-circle{href: getting_started_path}
    - if @team.errors.any?
      - @team.errors.full_messages.each do |msg|
        .message-container.show-message
          .margin-bottom.error-message
            %span.message
              .fa.fa-exclamation-circle
              .message.error= msg
    = simple_form_for @team, html: { class: 'form' } do |f|
      .form-inputs
        .form-field
          = f.input :name, required: true, autocomplete: false, wrapper: false, input_html: {name: 'name'}
      .form-actions.actions
        = f.button :submit, "Create team", class: 'btn', id: 'create-team-button'