= render 'layouts/header'
.page
  .settings-container
    .title-container
      %h1.settings-title
        Teams
      .actions
        = link_to root_path, method: "get", class: 'btn secondary' do
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to home
    - if notice
      .message-container.success-message.margin-top
        %span.message
          .fa.fa-exclamation-circle
          #notice= notice
    %h2.settings-subtitle
      Create new team
    - if @team.errors.any?
      - @team.errors.full_messages.each do |msg|
        .message-container.show-message
          .margin-bottom{:class => "error-message"}
            %span.message
              .fa.fa-exclamation-circle
              .message{class: :error}= msg
    = simple_form_for @team, html: { class: 'form' } do |f|
      .form-inputs
        .form-field
          = f.label :name
          = f.text_field :name, required: true, autocomplete: false, name: 'name'
        .form-field
          = f.label :slug
          = f.text_field :slug, required: true, autocomplete: false, name: 'slug'
        .form-field
          = f.label :general_info
          = f.text_area :general_info, required: false, autocomplete: false, name: 'general_info'
        .form-field
          = f.label :logo
          = f.input_field :logo, as: :file, id:'media-attachment', name: 'logo'
      .form-actions.actions
        = f.button :submit, "Create team", class: 'btn', id: 'create-team-button'