.goal-container
  %ul.progress-tracker.progress-tracker--left.progress-tracker--vertical
    - @current_goals.each do |goal|

      - if goal.achieved_on != nil
        %li.progress-step.is-complete
          .progress-bar-complete
          %span.progress-marker
            %i.fa.fa-unlock
          %span.progress-text
            .progress-title
              %h3
                = "#{goal.amount} ₭"
                %p.highlighted.goal-name
                  = goal.name
                %span.highlighted.left-text
                  = goal.achieved_on

      - elsif Goal.next == goal
        %li.progress-step.is-active
          .progress-bar
            .progress-bar-inner{style: "height: #{@balance_percentage}"}
              %span.percentage
                = @balance_percentage
          %span.progress-marker{style:"box-shadow: 0 0 8px #fff;"}
            %i.fa.fa-lock
          %span.progress-text
            .progress-title
              %h3
                = "#{goal.amount} ₭"
                %p.highlighted.goal-name
                  = goal.name
                %span.highlighted.left-text
                  = "#{goal.amount - Balance.current.amount} ₭ left"

      - else
        %li.progress-step
          .progress-bar
          %span.progress-marker
            %i.fa.fa-lock
          %span.progress-text
            .progress-title
              %h3
                = "#{goal.amount} ₭"
                %p.highlighted.goal-name
                  = goal.name
                %span.highlighted.left-text
                  = "#{goal.amount - Balance.current.amount} ₭ left"

    %li.progress-step.is-complete
      .progress-bar-complete
      %span.progress-marker
        %i.fa.fa-dot-circle-o
      %span.progress-text
        %h3.progress-title.highlighted
          = "Balance #{Balance.current.name}"