.create-transaction-container
  %div
    %h1.transaction-container-title
      Create ₭udo Transaction
    = simple_form_for @transaction do |f|
      .receiver
        -#%span
        = f.input_field :receiver_name, data: { autocomplete_source: users_autocomplete_path}, field_id: false, placeholder: 'Receiver', required: true , maxlength: '35', autoFocus: true
      .amount
        = f.input_field :amount, input_html:{ min: '0', max: '999' , step: '1'} , placeholder: 'Amount', required: true
        %span.currency
          -#₭
      .activity
        = f.input_field :activity_name, as: :text, field_id: false,  placeholder: "Write here the reason why you are giving ₭udo's", required: true, maxlength: '90', class: 'character-count'
      .submit
        %span.flex-item
          = button_tag type:'submit', class: 'btn send-kudos-button' do
            Give ₭udo's
            %i.fa.fa-paper-plane
            -#= Transaction :activity_name
        %span.counter