%header
  = image_tag 'kabisa_white.svg'
  %strong
    Kudo
    %span> -
    Jar

  //
.topouterwrapper
  .topinnerwrapper
    .story
      %p
        Check out the Kudo stories. Get inspired to give kudos!
    .jarwrapper
      #loader{data: {balance_percentage: @balance.percentage, balance_coins: @balance.amount }}
        = link_to new_transaction_path do
          #lid
          #toppart
          #glass{:valuemax => "#{@next.amount}", :valuemin => "#{@previous.amount}", :valuenow => "#{@balance.amount}"}
            .next-goal
              .balance.small-title
                = @next.kudos
                \-
            #textonjar
            #cubes
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
            #drink
              %span#counter
          #coaster
    .message
      .loadingmessage
        Counting the coins in the jar!
      .dynamic
        The jar is
        .dynamicmessage
        If the jar is full with Kudo Coins, then we will celebrate with
        .title
          = @next.name
    .calltoact
      %p
        Click the jarlid to give kudos!
.bottomouterwrapper
  .last-transactions
    .small-title Kudo Story Feed
    .transaction= @last_transaction
