%header
  = image_tag 'kabisa_white.svg'
  %strong
    ₭udo
    %span> -
    Jar

  //
.topouterwrapper
  .topinnerwrapper
    .flex_dummy_div
    .jarwrapper
      .loader{data: {balance_percentage: @balance.percentage, balance_coins: @balance.amount }}
        #lid
          = link_to new_transaction_path do
            %p
              OPEN TO ADD KUDOS
        #toppart
        #glass{:valuemax => "#{@next.amount}", :valuemin => "#{@previous.amount}", :valuenow => "#{@balance.amount}"}
          .next-goal
            .balance.small-title
              = @next.kudos
              \-
          #textonjar
          #cubes
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
            %div
          #drink
            %span#counter
        #coaster
    .container.center
      .col-md-5
        %h1
          = t('dashboard.title')

        = simple_form_for @transaction do |f|
          = t('dashboard.i_give');
          = f.input_field :receiver,  as: :autocomplete, source_query: autocomplete_user_name_users_url, field_id: false,  placeholder: 'receiver', :autofocus => true
          = f.input_field :amount, placeholder: '#'
          = t('kudos')

          %br

          =t('dashboard.for')
          = f.input_field :activity, as: :autocomplete, source_query: autocomplete_activity_name_activities_url, field_id: false, placeholder: 'activity'

          %br

          = f.submit t('dashboard.submit_kudos')
      .col-md-7
        %p#guidelines_dynamic
          These are the
          = link_to t('dashboard.guidelines'), :guidelines_transactions, class: 'reference'
          that are around
          %span#amount_of_kudo_clone
          Kudos
        .guidelines_container
          %ul
      %p#guidelines_static
        Check out the
        = link_to t('dashboard.guidelines'), :guidelines_transactions, class: 'reference'
    .flex_dummy_div

.bottomouterwrapper
  .bottominnerwrapper
    .small-title
      .last-transactions
        - @transactions.each do |transaction|
          .post-container
            .amountofkudos
              = transaction.amount
            -#
            %span
              ₭
            .sendername
              = transaction.sender.name
            %span
              to
            .receivername
              = transaction.receiver.name
            %span
              =":"
            .activityname
            %span
              = transaction.activity.name
              ="."
            %span.post-time-stamp
              = distance_of_time_in_words(DateTime.now, transaction.created_at)
              ago

            .like-btn
              = link_to like_path(transaction), class: "like", method: :post do
                %button.btn.btn-info{"aria-label" => "Left Align", :type => "button"}
                  %span.glyphicon.glyphicon-thumbs-up.glyphicon-aligncenter{"aria-hidden" => "true"}
                  %span.badge{"aria-hidden" => "true"}= transaction.get_upvotes.size




