= render 'welcome-modal'
= render 'guideline-modal'


%body
  .page
    .header
      .container-header
        -#%img.header-logo{src:'https://www.kabisa.nl/images/kabisa-logo-d9ace243.png'}
        %h1.title
          Kudo-o-Matic
    = render 'message'
    .body
      .container-left
        = render 'profile-menu'
        = render 'general-menu'
        = render 'statistics'
        -#= render 'goals'
      .container-center
        = render 'transaction'
        = render 'filter'
        #results
          = render 'timeline'
      .container-right
        = render 'suggested-guidelines'
        = render 'kudos-counter'