

%header
  = image_tag 'kabisa_white.svg'
  %strong
    Kud
    %span> -
    O
    %span> -
    Meter

.add-transaction-link
  = link_to new_transaction_path do
    = fa_icon "plus", text: "Give kudos!"

.last-transactions
  .small-title Last transaction
  .transaction= @last_transaction


.current-goal
  .previous-goal
    .title= @previous.name
    .balance.small-title= @previous.kudos

  .next-goal
    .title= @next.name
    .balance.small-title= @next.kudos

  .progress
    .progress-bar.progress-bar-kudos{ role: 'progressbar', style: "width: #{@balance.percentage}%",
      aria: { valuenow: @balance.amount, valuemin: @previous.amount, valuemax: @next.amount } }
      %span.sr-only= @balance.kudos

  .progress-label
    .balance.small-title= @balance.kudos

:javascript
    var schedule = later.parse.text('every 10 sec');
    var timer = later.setInterval(refreshDashboard, schedule);

    function refreshDashboard() {
        console.log('Triggering page refresh');
        location.reload();
    }

