%header
  = image_tag 'kabisa_white.svg'
  %strong
    ₭udo
    %span> -
    Jar

  //
.topouterwrapper
  .topinnerwrapper
    .story
      %p
        Check out the ₭udo stories. Get inspired to give ₭udos!
      %p
      -# The current amount of ₭udo Coins is:
        = @balance.amount
        out of
        = @next.amount
    .jarwrapper
      = link_to new_transaction_path do
        .loader{data: {balance_percentage: @balance.percentage, balance_coins: @balance.amount }}
          #lid
            %p
              OPEN TO ADD KUDOS
          #toppart
          #glass{:valuemax => "#{@next.amount}", :valuemin => "#{@previous.amount}", :valuenow => "#{@balance.amount}"}
            .next-goal
              .balance.small-title
                = @next.kudos
                \-
            #textonjar
            #cubes
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
            #drink
              %span#counter
          #coaster
    .message
      .loadingmessage
        Counting the coins in the jar!
      .dynamic
        The jar has
        %span#kudoamount
          =@balance.amount

        ₭udo Coins in it. Which means that it's
        .dynamicmessage
        If the jar is full of ₭udo Coins, then we will celebrate with
        .title
          = @next.name
    -#.calltoact
      %p
        Click the jarlid to give kudos!
.bottomouterwrapper
  .bottominnerwrapper
    .small-title
      .last-transactions
        - @transactions.each do |transaction|
          .post-container
            .sendername
              = transaction.sender.name
            gave
            .receivername
              = transaction.receiver.name
            .amountofkudos
              = transaction.amount
            ₭udos, for
            .activityname
              %p
                = transaction.activity.name
              .like-btn
                = link_to like_path(transaction), class: "like", method: :post do
                  %button.btn.btn-info{"aria-label" => "Left Align", :type => "button"}
                    %span.glyphicon.glyphicon-thumbs-up.glyphicon-aligncenter{"aria-hidden" => "true"}
                    %span.badge{"aria-hidden" => "true"}= transaction.get_upvotes.size
              %p.post-time-stamp
                = transaction.created_at



