%header
  = image_tag 'kabisa_white.svg'
  %strong
    ₭udo
    %span> -
    Jar

  //
.topouterwrapper
  .topinnerwrapper
    .story
      %p
        Check out the ₭udo stories. Get inspired to give ₭udos!
    .jarwrapper
      .loader{data: {balance_percentage: @balance.percentage, balance_coins: @balance.amount }}
        = link_to new_transaction_path do
          #lid
          #toppart
          #glass{:valuemax => "#{@next.amount}", :valuemin => "#{@previous.amount}", :valuenow => "#{@balance.amount}"}
            .next-goal
              .balance.small-title
                = @next.kudos
                \-
            #textonjar
            #cubes
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
              %div
            #drink
              %span#counter
          #coaster
    .message
      .loadingmessage
        Counting the coins in the jar!
      .dynamic
        The jar is
        .dynamicmessage
        If the jar is full with ₭udo Coins, then we will celebrate with
        .title
          = @next.name
    .calltoact
      %p
        Click the jarlid to give kudos!
.bottomouterwrapper
  .bottominnerwrapper
    .small-title
      .last-transactions
        - @transactions.each do |transaction|
          .post-container
            .sendername
              = transaction.sender.name
            gave
            .receivername
              = transaction.receiver.name
            .amountofkudos
              = transaction.amount
            ₭udos, for
            .activityname
              %p
                = transaction.activity.name
              .like-btn
                = link_to like_path(transaction), class: "like", method: :post do
                  %button.btn.btn-info{"aria-label" => "Left Align", :type => "button"}
                    %span.glyphicon.glyphicon-thumbs-up.glyphicon-aligncenter{"aria-hidden" => "true"}
                    %span.badge{"aria-hidden" => "true"}= transaction.get_upvotes.size
              %p.post-time-stamp
                = transaction.created_at


      -#.small-title Kudo Story Feed
      -#.transaction= @last_transaction

  .poll

    %p.poll-title
      What should be the next goal?
    - @goals.each do |goal|
      %p
        = link_to(goal.name, like_path(goal), class: 'like', method: :post)
        %button.btn.btn-info{'aria-label' => 'Left Align', type: 'button' }
          %span{ 'aria-hidden' => 'true' }
          %span.badge{ 'aria-hidden' => 'true' }
            = goal.get_upvotes.size



