%body
  .page
    .header
      .container-header
        -#%img.header-logo{src:'https://www.kabisa.nl/images/kabisa-logo-d9ace243.png'}
        %h1.title
          Kudo-o-Matic
    = render 'message'
    .body
      .container-left
        = render 'new-transaction'
        = render 'drop-down'
        = render 'achieved-goal'
        = render 'statistics'
      .container-center
        = render 'transaction'
        #results
          = render 'timeline'
      .container-right
        = render 'suggested-guidelines'
        = render 'kudos-counter'