#add-transaction-link
  = link_to new_transaction_path do
    = fa_icon "plus", text: "Give kudos!"

.container
  .row
    .col-md-12
      #header
        %h1 
          = image_tag 'kabisa_white.svg', height: 124

  .row
    .col-md-12
      #most-recent
        .small_title Last transaction
        .transaction= @last_transaction

  .row
    .col-md-2
      #previous-goal
        .title= @previous.name
        .balance= @previous.kudos

    .col-md-8
      &nbsp;

    .col-md-2
      #next-goal
        .title= @next.name
        .balance= @next.kudos

  .row
    .col-md-12
      .progress
        .progress-bar.progress-bar-kudos{ role: 'progressbar', style: "width: #{@balance.percentage}%",
          aria: { valuenow: @balance.amount, valuemin: @previous.amount, valuemax: @next.amount } }
          %span.sr-only= @balance.kudos

      #progress-label
        .balance= @balance.kudos

:javascript
    var schedule = later.parse.text('every 10 sec');
    var timer = later.setInterval(refreshDashboard, schedule);

    function refreshDashboard() {
        console.log('Triggering page refresh');
        location.reload();
    }

