.container
  .row
    .col-md-12
      #most-recent
        #{number_to_kudos(50)} van JOEP aan HENK voor HET GEVEN VAN EEN LEZING

  .row
    .col-md-6
      #previous-goal
        .title= @previous.name
        .balance= @previous.kudos

    .col-md-6
      #next-goal
        .title= @next.name
        .balance= @next.kudos

  .row
    .col-md-12
      .progress
        .progress-bar.progress-bar-info{ role: 'progressbar', style: 'width: 40%', aria: { valuenow: 1324, valuemin: 1000, valuemax: 1500 } }
          %span.sr-only= number_to_kudos(1234)

      #progress-label
        .balance= number_to_kudos(1324)
