= render 'welcome-modal'
= render 'guideline-modal'


%body
  .page
    .header
      .container-header
        %h1.title
          %span.title-border
            Kudo-o-Matic
        %h2.subtitle
          Home
    = render 'message'
    .body
      .container-left
        = render 'profile-menu'
        -#= render 'statistics'
        -#= render 'goals'
      .container-center
        = render 'transaction'
        = render 'filter'
        = render 'kudo-counter-dashboard'
        #results
          = render 'timeline'
      .container-right
        = render 'kudos-counter'