%body
  .page
    .header
      .container-header
        %img.header-logo{src:'https://www.kabisa.nl/images/kabisa-logo-d9ace243.png'}
    = render 'error'
    .body
      .container-left
        = render 'new-transaction'
        = render 'drop-down'
        = render 'achieved-goal'
        = render 'statistics'
      .container-center
        = render 'transaction'
        #results
          = render 'timeline'
      .container-right
        = render 'kudos-counter'
