= stylesheet_link_tag 'components/_email-styling', media: 'all'


.mail-container
  .mail-header

  .mail-body
    %p
      Hi
      = "#{@user},"
    %br
    %p
      = "#{@transaction.sender.name} has given #{@transaction.receiver_name_feed} #{ApplicationController.helpers.number_to_kudos(@transaction.amount)} for '#{render_activity(@transaction, @markdown)}'".html_safe
      = "There are #{kudos_to_next_goal} ₭ left until '#{Goal.next.name}' is reached."
    %p
      Go and show your appreciation too! Like the
      = link_to 'transaction', root_url
      to give +1 ₭udo.
    - if @transaction.image.present?
      .media-attachment
        .img-file
          = image_tag @transaction.image.url, class:'attachment-file'
    %br
    %p
      Happy ₭udoing!
    %p
      = '- The ₭udo Team'
  .mail-footer