
.sign-in-page.flex-page
  .sign-in-container
    %h2 Resend confirmation instructions
    = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'sign-in-form' }) do |f|
      = devise_error_messages!
      = f.full_error :confirmation_token
      .form-inputs
        .form-field
          = f.label :email, :class => 'fa envelope' do
            %span.hidden
              E-mail
          = f.email_field :email, required: true, pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}', autofocus: true,
              placeholder: 'Your email'
      .form-actions
        = f.button :submit, "Resend confirmation instructions"
    = render "devise/shared/links"
