= render 'layouts/header'
.page
  .body
    .container-left
      .fixed-div-left
        = render 'teams/menu'
    .container-center.flex-is-three
      .container
        .topic-container
          %h2.title-container
            Guidelines
            %a.fa.fa-question-circle{href: getting_started_path}
          %hr.divider
            - flash.each do |key, value|
              .message-container.show-message
                .margin-bottom{:class => "#{key}-message"}
                  %span.message
                    .fa.fa-exclamation-circle
                    .message{:class => key}= value

          .text-container
            = render 'new', guideline: @guideline
          .text-container#guidelines
            = render 'guidelines_list', guidelines: @guidelines
          %hr.divider

