= render 'layouts/header'
.page
  .settings-container
    .title-container
      %h1.settings-title
        Account
      .actions
        = link_to root_path, method: "get", class: 'btn secondary' do
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to home
    - if notice
      .message-container.success-message.margin-top
        %span.message
          .fa.fa-exclamation-circle
          #notice= notice
    %h2.settings-subtitle
      Details
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'simple_form form' }) do |f|
      = devise_error_messages!
      .form-inputs
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-field
          = f.label :name
          = f.text_field :name, required: false, autocomplete: false
        .form-field
          = f.label :email
          = f.text_field :email, required: true, autocomplete: false
        .form-field
          = f.label :password
          = f.password_field :password, required: false, placeholder: 'Leave this empty if you don\'t want to change it',
          autocomplete: false
        .form-field
          = f.label :password_confirmation
          = f.password_field :password_confirmation, required: false, autocomplete: false
        .confirm-changes
          .confirm-changes-message
            Confirm your changes by providing your current password
          .form-field
            = f.label :current_password
            = f.password_field :current_password, required: false, autocomplete: false
      .form-actions.actions
        = f.submit "Update", class: 'btn'
    %h2.settings-subtitle
      Data tools
    Here you can view all of your data that is currently being stored.
    .data-actions.actions
      = link_to users_view_data_path, method: "get", class: 'btn' do
        <i class="fa fa-eye" aria-hidden="true"></i> View my data