%p
  Time for the weekly ₭udo summary!
%p
  = "Don't forget to think back about this week, because there is definitely someone who deserves a compliment. \u{1f914}"
%p.button-mail-container
  = link_to "Give ₭udo's!", root_url, class: 'btn btn-primary button-mail'
%p
  .timeline-container
    - if @transactions.empty?
      .transaction-container
        .transaction-body-container
          .transaction-content.empty-timeline
            .empty-timeline-message
              There are no transactions to show here yet &#9785;
    - @transactions.each do |transaction|
      .transaction-container.transaction-container-mail{'data-likes': transaction.votes_for.voters.collect { |user| user}}
        .transaction-header-container
          .transaction-kudos-container
            %span{id: "kudos-container-#{transaction.id}"}
              = render 'transactions/amount-in-kudos', transaction: transaction
          .avatar
            .transaction-avatar-container
              - if User.find(transaction.sender_id).picture_url.nil?
                = image_tag attachments['no-picture-icon.jpg'].url, class:'receiver flex-item'
              - else
                = image_tag User.find(transaction.sender_id).picture_url, class:'sender flex-item'
              - if transaction.receiver_image.nil?
                = image_tag transaction.receiver_image, class:'receiver flex-item'
              - else
                = image_tag attachments['no-picture-icon.jpg'].url, class:'receiver flex-item'
        .transaction-body-container
          .transaction-content
            %span.highlighted.sendername
              = "#{transaction.sender.name}:"
            %span.highlighted
              = "+#{transaction.amount} ₭"
            %span
              to
            %span.highlighted.receivername
              = transaction.receiver_name_feed
            %span
              for
            %span.activityname
              = transaction.activity
            .post-time-stamp
              = "#{distance_of_time_in_words(DateTime.now, transaction.created_at)} ago"
            - if transaction.image.present?
              %p
                .media-attachment
                  -# checks whether or not the thumbnail exists so older posts (without thumb) will still be displayed
                  = link_to image_tag(transaction.image.exists?(:thumb) ? transaction.image.url(:thumb) : transaction.image,
                  class:'attachment-file'), transaction.image.url, target: '_blank'

%p
  .kudo-counter
    .kudo-counter__title
      ₭udometer
    .kudo-counter__date
      = Date.today.strftime('%B %d, %Y')
    .kudo-counter__upcoming
      Next Goal
    .chart.chart--kudo.js-chart{'data-goal':Goal.next.amount, 'data-count':Balance.current.amount}
      .chart__container
        %svg.chart__background{x:'0px', y:'0px', height:'220px', viewBox:'0 0 220 220'}
          %g
            %path{d:'M110,210c-55.1,0-100-44.9-100-100C10,54.9,54.9,10,110,10s100,44.9,100,100C210,165.1,165.1,210,110,210z'}
        %svg.chart__foreground.kudo-progress-mail{'stroke-dashoffset': "#{(628.184 - ((628.184 / Goal.next.amount) * Balance.current.amount)).round}", x:'0px', y:'0px', height:'220px', viewBox:'0 0 220 220'}
          %g
            %path{d:'M110,210c-55.1,0-100-44.9-100-100C10,54.9,54.9,10,110,10s100,44.9,100,100C210,165.1,165.1,210,110,210z'}
        .chart__count
          %div
            %span.current-amount.js-count{'data-count':Balance.current.amount}
              = Balance.current.amount
            %span.kudo-currency
              ₭
          %span.next-goal-amount
            %span
              of
            %span.goal-amount.js-count{'data-count':Goal.next.amount}
              = Goal.next.amount
            %span.kudo-currency
              ₭
            %span
              for
          %span.next-goal-name
            %span.goal-name-tooltip
              = Goal.next.name
            .goal.goal-content
              .menu-tooltip
              %span.menu-content
                = Goal.next.name
