%tr
  %td.content
    Time for the weekly ₭udo summary!
    %p
      = "Don't forget to think back about this week, because there is definitely someone who deserves a compliment. \u{1f914}"
    .button-container
      = link_to "Give ₭udos!".html_safe, root_url, class: 'btn btn-primary button'
    - if !@reached_goal.nil?
      %table.outer-table
        %tr
          %td.content-block
            %p
              %strong
                = "\u{1f389} Congratulations! \u{1f389}"
            %p
              You and your colleagues achieved goal
              %strong
                = "'#{@reached_goal.name}'"
              last week!
              %br
              Don't forget to pick a date!
    %p

    %table.outer-table
      - @transactions.each do |transaction|
        %tr
          %td.inner-table
            %table
              %tr
                %td.count-container
                  = "#{transaction.kudos_amount} ₭"
                %td.spacing-container
                %td.avatar-container
                  - if transaction.sender_id.nil? || User.find(transaction.sender_id).avatar_url.blank?
                    = image_tag attachments['no-picture.jpg'].url, class: 'avatar'
                  - else
                    = image_tag User.find(transaction.sender_id).avatar_url, class: 'avatar'
                %td.avatar-container
                  - if transaction.receiver_id.nil? || User.find(transaction.receiver_id).avatar_url.blank?
                    = image_tag attachments['no-picture.jpg'].url, class: 'avatar'
                  - else
                    = image_tag User.find(transaction.receiver_id).avatar_url, class: 'avatar'
                %td
          %tr
            %td.transaction-container{colspan: 2}
              %strong
                = "#{transaction.sender.name}: +#{transaction.amount} ₭"
              to
              %strong
                = "#{transaction.receiver_name_feed}"
              = "for #{transaction.activity_name_feed}"
          - if transaction.votes.size >= 1
            %tr
              %td.likes-container{colspan: 2}
                = display_likes(transaction)
          %tr
            %td.timestamp-container{colspan: 2}
              = "#{distance_of_time_in_words(DateTime.now, transaction.created_at)} ago"
      - if @transactions.empty?
        %tr
          %td.no-transactions-container
            = "There are no transactions to yet, so start giving ₭udos to your colleagues! \u{1f628}"
    %p

    %table.outer-table
      %tr
        %td.content-block
          %p
            %strong
              ₭udometer
            %br
            = Date.today.strftime('%B %d, %Y')
          %p
            %p
              %strong
                = Balance.current(@current_team).amount
                ₭
              of
              %strong
                = Goal.next(@current_team).amount
                ₭
              for
              %strong
                = Goal.next(@current_team).name
