%tr
  %td.content
    = "Welcome to the #{link_to '₭udo-o-Matic', root_url}! We hope you will enjoy your time with us and give a lot of ₭udos to your colleagues! \u{1f600}".html_safe
    %ul
      %li
        You will receive notifications regarding activity on the ₭udo-o-Matic via email and Slack.*
      %li
        For any help on how to use the ₭udo-o-Matic please read the FAQ, which you can find in your profile menu.
      %li
        = "If you discover any issues, you can report them #{link_to 'here', 'https://github.com/kabisa/kudo-o-matic/issues'}.".html_safe
      %li
        = "Information about this open source project can be found #{link_to 'here', 'https://github.com/kabisa/kudo-o-matic'}.".html_safe
      %li
        = "For other questions please contact #{mail_to 'info@kabisa.nl'}.".html_safe
    %p.sidenote
      * You can connect your Slack account and set your mail preferences on the settings page.
