= form_for @user, url: settings_path do |f|
  %table.settings-table
    %tr
      %td
        = f.label :transaction_received_mail
      %td.settings-table-value
        = f.check_box :transaction_received_mail, class: 'settings-checkbox'
    %tr
      %td
        = f.label :goal_reached_mail
      %td.settings-table-value
        = f.check_box :goal_reached_mail, class: 'settings-checkbox'
    %tr
      %td
        = f.label :summary_mail
      %td.settings-table-value
        = f.check_box :summary_mail, class: 'settings-checkbox'

  %h2.settings-subtitle
    Privacy

  %table.settings-table
    %tr
      %td
        Restrict your account (your data will be hidden from other users and admins,
        but you won't be able to use most features.)
      %td.settings-table-value
        = f.check_box :restricted, class: 'settings-checkbox'
  = f.submit class: 'btn btn-primary btn-save'
