= render 'layouts/header'
.page
  .settings-container
    - if notice
      .message-container.success-message.margin-top
        %span.message
          .fa.fa-exclamation-circle
          #notice= notice
    %h1.settings-title
      Settings
    %h2.settings-subtitle
      Slack
    - if @user.slack_id_for_team(current_team).blank?
      %p.settings-text
        Sign in to connect the ₭udo-o-Matic with Slack:
    - else
      %p.settings-text
        %span.settings-text
          Connected Slack display name:
        %span.settings-text-highlighted
          @#{@user.slack_username_for_team(current_team)}
      %p.settings-text Sign in again to update your display name if you changed it:
    %p.settings-text
      %a{href: team_omniauth_path(team: current_team.slug)}
        %img{alt: 'Sign in with Slack', width: '172', height: '40', src: 'https://platform.slack-edge.com/img/sign_in_with_slack.png',
        srcset: 'https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x' }
    %p.settings-text
      %ul
        %li Receive personalized notifications and reminders
        %li Give ₭udos with the /kudo command
        %li Give ₭udos by adding the :kudo: reactji to a message of a ₭udo-o-Matic user
        %li Like ₭udo transactions using the like button
    %h2.settings-subtitle
      Mail
    %p.settings-text
      Configure the mails that you want to receive on the mail address #{@user.email}:
    = render 'form', user: @user
