= render 'layouts/header'
.page
  .settings-container
    .title-container
      %h1.settings-title
        View data
      .actions
        = link_to root_path, method: "get", class: 'btn secondary' do
          <i class="fa fa-home" aria-hidden="true"></i> Home
        = link_to account_path, method: "get", class: 'btn secondary' do
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Account
    %h2.settings-subtitle
      Personal information
    %table.settings-table
      %tr
        %td.bold
          Naam
        %td
          #{@user.name}
      %tr
        %td.bold
          Email
        %td
          #{@user.email}
      %tr
        %td.bold
          Created at
        %td
          #{@user.created_at}
      %tr
        %td.bold
          Updated at
        %td
          #{@user.updated_at}
      %tr
        %td.bold
          Slack ID
        %td
          #{@user.slack_id}
      %tr
        %td.bold
          Slack name
        %td
          #{@user.slack_name}
      %tr
        %td.bold
          Slack username
        %td
          #{@user.slack_username}
      %tr
        %td.bold
          Avatar URL
        %td
          - if @user.avatar_url
            = link_to 'Show image', @user.avatar_url, target: '_blank'
    %h2.settings-subtitle
      Transactions
    %p
      You currently have a total of #{pluralize(@transactions_count, 'transaction')}.
    .data-actions.actions
      = link_to users_view_transactions_path, method: "get", class: 'btn' do
        <i class="fa fa-eye" aria-hidden="true"></i> View all transactions
