= render 'layouts/header'
.page
  .settings-container
    - if notice
      .message-container.success-message.margin-top
        %span.message
          .fa.fa-exclamation-circle
          #notice= notice
    .title-container
      %h1.settings-title
        View transactions
      .actions
        = link_to root_path, method: "get", class: 'btn secondary' do
          <i class="fa fa-home" aria-hidden="true"></i> Home
        = link_to users_view_data_path, method: "get", class: 'btn secondary' do
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Data
    %h2.settings-subtitle
      Transactions
    %table.settings-table
      %tr
        %th
          Sender
        %th
          Receiver
        %th
          Amount
        %th
          Created at
        %th
          Text
        %th
          Image
      - @transactions.each do |t|
        %tr.no-top-border
          %td
            = t.sender.name
          %td
            - if t.receiver
              = t.receiver.name
          %td
            = t.amount
          %td
            = t.created_at.strftime("%Y-%m-%d")
          %td
            = t.activity.name
          %td
            - if t.image.exists?
              = link_to 'Show image', t.image.url, target: '_blank'
    = paginate @transactions