= render 'layouts/header'
.page
  .settings-container
    .title-container
      %h1.settings-title
        View data
      .actions
        = link_to root_path, method: "get", class: 'btn secondary' do
          <i class="fa fa-home" aria-hidden="true"></i> Home
        = link_to account_path, method: "get", class: 'btn secondary' do
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Account
    %h2.settings-subtitle
      Personal information
    = render 'personal_info', user: @user
    %h2.settings-subtitle
      Transactions
    %p
      You currently have a total of #{pluralize(@transactions_count, 'transaction')}.
    .data-actions.actions
      = link_to users_view_transactions_path, method: "get", class: 'btn' do
        <i class="fa fa-eye" aria-hidden="true"></i> View all transactions
    %h2.settings-subtitle
      Likes
    %p
      You currently have a total of #{pluralize(@likes_count, 'like')}
      .data-actions.actions
        = link_to users_view_likes_path, method: "get", class: 'btn' do
          <i class="fa fa-eye" aria-hidden="true"></i> View all likes
    %h2.settings-subtitle
      Data exports
    -if @exports.any?
      %p
        These are your available export files. To download a file, simply click on the link.
        To create a new export, click on one of the buttons at the bottom of this page.
      = render 'exports_table', exports: @exports
    - else
      %p
        You don't have any export files available. To create a export file, click on one of the buttons below.
        We currently provide data exports in JSON and XML.
    .data-actions.actions
      = link_to users_export_json_path, method: "post", class: 'btn' do
        <i class="fa fa-download" aria-hidden="true"></i> New JSON export
      = link_to users_export_xml_path, method: "post", class: 'btn' do
        <i class="fa fa-download" aria-hidden="true"></i> New XML export
