= render 'layouts/header'
.sign-up-page.flex-page
  .sign-up-container
    %h2 Change your password
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name),
    html: { method: :put, class: 'sign-up-form' }) do |f|
      = f.error_notification
      = f.input :reset_password_token, as: :hidden
      = f.full_error :reset_password_token
      .form-inputs
        .form-field
          = f.label :password, autocomplete: "off", class: 'fa lock' do
            %span.hidden
              New password
          = f.password_field :password, required: true, placeholder: 'Your new password', autofocus: true,
          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
        .form-field
          = f.label :password_confirmation, class: 'fa lock' do
            %span.hidden
              New password confirmation
          = f.password_field :password_confirmation, required: true, placeholder: 'Confirm your new password'
      .form-actions
        = f.button :submit, "Change my password"
    = render "devise/shared/links"
