- if goals.any?
  %table.settings-table
    %tr
      %th
        Name
      %th
        Amount
      %th
        Status
      %th{colspan: 2}
        Actions
    - goals.order("amount asc").each do |g|
      %tr
        %td
          = link_to g.name, goal_path(id: g.id, team: current_team.slug), id: "show-#{g.id}"
        %td
          = g.amount
        %td
          - if g.achieved_on.nil?
            In progress
          - else
            Reached
        %td
          = link_to 'Edit', edit_goal_path(id: g.id, team: current_team.slug), id: "edit-#{g.id}"
        %td
          = link_to 'Remove', goal_path(id: g.id, team: current_team.slug), method: :delete, id: "rm-#{g.id}",
            data: {confirm: "This will remove #{g.name}. Are you sure?"}
- else
  %p
    No goals defined yet.
.actions
  = link_to new_goal_path, method: "get", class: 'btn btn-primary' do
    <i class="fa fa-plus" aria-hidden="true"></i> Create new goal

