= render 'layouts/header'
.page
  .settings-container
    .title-container
      %h1.settings-title
        Balances
      .actions
        = link_to balances_path(team: current_team.slug), method: "get", class: 'btn secondary' do
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to home
    - if notice
      .message-container.success-message.margin-top
        %span.message
          .fa.fa-exclamation-circle
          #notice= notice
    %h2.settings-subtitle
      Edit balance
    - if @balance.errors.any?
      - @balance.errors.full_messages.each do |msg|
        .message-container.show-message
          .margin-bottom.error-message
            %span.message
              .fa.fa-exclamation-circle
              .message.error= msg
    = simple_form_for @balance, html: { class: 'form' }, url: balance_path(team: current_team.slug), method: :put do |f|
      .form-inputs
        .form-field
          = f.input :name, required: true, autocomplete: false, wrapper: false
      .form-actions.actions
        = f.button :submit, "Update balance", class: 'btn', id: 'update-balance-button'