= render 'layouts/header'
.page
  .body
    .container-left
      .fixed-div-left
        = render 'teams/menu'
    .container-center.flex-is-three
      .container
        .topic-container
          %h2.title-container
            Balances and Goals
            %a.fa.fa-question-circle{href: getting_started_path}
          %hr.divider
            - flash.each do |key, value|
              .message-container.show-message
                .margin-bottom{:class => "#{key}-message"}
                  %span.message
                    .fa.fa-exclamation-circle
                    .message{:class => key}= value
          .text-container.has-table
            - if @balances.any?
              = render 'active_balance' , current_balance: @current_balance, goals: @balances.find(@current_balance).goals
              = render 'balance_list', balances: @balances
            - else
              %p
                Your team doesn't have any balances yet.
          %hr.divider

