= render 'layouts/header'
.page
  .settings-container
    .title-container
      %h1.settings-title
        Manage goals
      .actions
        = link_to root_path, method: "get", class: 'btn secondary' do
          <i class="fa fa-home" aria-hidden="true"></i> Home
        = link_to balances_path(team: current_team.slug), method: "get", class: 'btn secondary' do
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to balances
    %h2.settings-subtitle
      Show "#{@balance.name}"

    .actions
      = link_to edit_balance_path, class: 'btn', id: "edit-balance" do
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
      = link_to balance_path, class: 'btn danger', method: :delete, id: "rm-balance",
            data: {confirm: "This will remove #{@balance.name}. Are you sure?"} do
        <i class="fa fa-trash-o" aria-hidden="true"></i> Remove

    %table.settings-table
      %tr
        %td.bold
          Name
        %td
          #{@balance.name}
      %tr
        %td.bold
          Created at
        %td
          #{@balance.created_at}
      %tr
        %td.bold
          Updated at
        %td
          #{@balance.updated_at}

    = render 'balances/goals_list', goals: @balance.goals