= render 'layouts/header'
.sign-in-page.flex-page

  .sign-in-container
    = image_tag 'logo-without-lizard-black.png', class: 'sign-in-form-logo'
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'sign-in-form' }) do |f|
      = render 'layouts/messages'
      .form-inputs
        .form-field
          = f.label :email, :class => 'fa envelope' do
            %span.hidden
              Username
          = f.email_field :email, required: true, pattern: '[^@]+@[^@]+\.[a-zA-Z]{2,6}', autofocus: true,
          placeholder: 'Your email'
        .form-field
          = f.label :password, :class => 'fa lock' do
            %span.hidden
              Password
          = f.password_field :password, required: true, placeholder: 'Your password'
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
      .form-actions
        = f.button :submit, "Log in"
