= render 'layouts/header'
.sign-in-page.flex-page
  .sign-in-container
    .sign-in-header
    .sign-in-body
      .body-content
        = image_tag 'logo-without-lizard-black.png'
        %a.btn-google{href:user_google_oauth2_omniauth_authorize_path}
          = 'Log in with Google'
        - if notice
          .message-container.error-message.margin-top
            %span.message
              .fa.fa-exclamation-circle
              #notice= notice
    .sign-in-footer
      = "You can only log in with a Google account "
      = "from #{ENV['COMPANY_USER']}" if ENV['COMPANY_USER'].present?


