%span.number-of-likes{id: "number-of-likes-#{transaction.id}"}
  = display_likes(transaction)
  .like-tooltip
    .like-tooltip-arrow
    - transaction.votes_for.voters.first(5).each do |user|
      = simple_format("#{user.name}\n")
    = tooltip_other_likes(transaction)