.goal-container
  %ul.progress-tracker.progress-tracker--left.progress-tracker--vertical
    - current_goals.each do |goal|

      - if goal.achieved_on != nil
        %li.progress-step.is-complete
          .progress-bar-complete
          %span.progress-marker
            %i.fa.fa-unlock
          %span.progress-text
            .progress-title
              %h3
                = "#{goal.amount} ₭"
              .goal-name-info-container
                %p.goal-name
                  = goal.name
                .goal.goal-content
                  .menu-tooltip
                  %span.menu-content
                    = goal.name
              %span.left-text
                = goal.achieved_on

      - elsif Goal.next(@current_team) == goal
        %li.progress-step.is-active
          .progress-bar
            .progress-bar-inner{style: "height: #{percentage_next_goal(@current_team)}"}
              %span.percentage
                = percentage_next_goal(@current_team)
          %span.progress-marker{style:"box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);"}
            %i.fa.fa-lock
          %span.progress-text
            .progress-title
              %h3
                = "#{goal.amount} ₭"
              .goal-name-info-container
                %p.goal-name
                  = goal.name
                .goal.goal-content
                  .menu-tooltip
                  %span.menu-content
                    = goal.name
              %span.left-text
                = goal.amount - Balance.current(@current_team).amount
              %span.left-text
                ₭ left
      - else
        %li.progress-step
          .progress-bar
          %span.progress-marker
            %i.fa.fa-lock
          %span.progress-text
            .progress-title
              %h3
                = "#{goal.amount} ₭"
              .goal-name-info-container
                %p.goal-name
                  = goal.name
                .goal.goal-content
                  .menu-tooltip
                  %span.menu-content
                    = goal.name
              %span.left-text
                = goal.amount - Balance.current(@current_team).amount
              %span.left-text
                ₭ left
    %li.progress-step.is-complete
      .progress-bar-complete
      %span.progress-marker
        %i.fa.fa-dot-circle-o
      %span.progress-text
        %h3.progress-title.highlighted
          = "Balance #{Balance.current(@current_team).name}"