- if !current_user.confirmed?
  .message-container.show-message
    .warning-message.margin-bottom
      %span.message
        .fa.fa-exclamation-circle
        %div
          Please confirm your e-mail within #{unconfirmed_access_hours_left(current_user)} hours to keep access to your account.
          Unconfirmed accounts get deleted after #{confirm_within}.
          = link_to "Resend email confirmation instructions", users_resend_email_confirmation_path

- flash.each do |key, value|
  .message-container.show-message
    .margin-bottom{:class => "#{key}-message"}
      %span.message
        .fa.fa-exclamation-circle
        .message{:class => key}= value
      .fa.fa-times.close-message

- if @transaction.errors.any?
  #transaction-errors.message-container.show-message
    .error-message.margin-bottom
      %span.message
        .fa.fa-exclamation-circle
        %ul
          - @transaction.errors.full_messages.each do |msg|
            %li
              = msg.capitalize
      %span
        .fa.fa-times.close-message
