- if !current_user.confirmed?
  .message-container.show-message
    .warning-message.margin-bottom
      %span.message
        .fa.fa-exclamation-circle
        %div
          Please confirm your e-mail within #{unconfirmed_access_hours_left(current_user)} hours to keep access to your account.
          Unconfirmed accounts get deleted after #{confirm_within}.
          = link_to "Didn't receive confirmation instructions?", new_user_confirmation_path

- if current_user.restricted?
  .message-container.show-message
    .warning-message.margin-bottom
      %span.message
        .fa.fa-exclamation-circle
        %div
          You currently have restricted your account. While restricted your data won't be visible to other users and
          admins, but some features will be disabled. These include sending transactions and casting votes.
          To un-restrict your account, go to the
          = link_to "Settings", settings_path
          page

- if notice
  .message-container.show-message
    .error-message.margin-bottom
      %span.message
        .fa.fa-exclamation-circle
        #notice= notice
      .fa.fa-times.close-message

- if @transaction.errors.any?
  .message-container.show-message
    .error-message.margin-bottom
      %span.message
        .fa.fa-exclamation-circle
        %ul
          - @transaction.errors.full_messages.each do |msg|
            %li
              = msg.capitalize
      %span
        .fa.fa-times.close-message
