.dropdown
  .profile-picture
    .profile-img{style: "background-image: url(#{current_user.picture_url})"}
  .drop-menu
    %a.dropdown-container.current-user{href:'#'}
      %span.username
        = current_user
      .fa.fa-chevron-down
    .profile.dropdown-content
      .menu-tooltip
      %a.menu-content{href:destroy_user_session_path}
        %span.flex-item
          Sign Out
        %i.fa.fa-sign-out
      %a.menu-content.help-me{href:"#"}
        %span.flex-item
          FAQ
        %i.fa.fa-question-circle
      %a.menu-content.whatsnew{href:"#"}
        %span.flex-item
          Releases
        %i.fa.fa-wrench
      - if current_user.try(:admin)
        %a.menu-content{href: '/admin'}
          %span.flex-item
            Admin
          %i.fa.fa-users
  .user-statistics-container
    .userstatistics.send-transactions
      %span.statistics-title
        Given
      %span.statistics-value
        = @send_transactions_user
    .userstatistics.received-transactions
      %span.statistics-title
        Received
      %span.statistics-value
        = @received_transactions_user + @received_transactions_team
    .userstatistics.my-transactions
      %span.statistics-title
        Total
      %span.statistics-value
        = @all_transactions_user

.profile-picture-mobile
  .profile-img{style: "background-image: url(#{current_user.picture_url})"}
  .drop-menu
    %a.dropdown-container.current-user{href:'#'}
      %span.username
        = current_user
      .fa.fa-chevron-down
    .profile.dropdown-content
      .menu-tooltip
      %a.menu-content{href:destroy_user_session_path}
        %span.flex-item
          Sign Out
        %i.fa.fa-sign-out
      %a.menu-content.help-me{href:"#"}
        %span.flex-item
          FAQ
        %i.fa.fa-question-circle
      %a.menu-content.whatsnew{href:"#"}
        %span.flex-item
          Releases
        %i.fa.fa-wrench