.dropdown
  .profile-picture
    .profile-img{style: "background-image: url(#{current_user.picture_url})"}
  .drop-menu
    %a.dropdown-container.current-user{href: account_path}
      %span.username
        = current_user
  .user-statistics-container
    .userstatistics.send-transactions
      %span.statistics-title
        Given
      %span.statistics-value
        = @sent_transactions_user
    .userstatistics.received-transactions
      %span.statistics-title
        Received
      %span.statistics-value
        = @received_transactions_user
    .userstatistics.my-transactions
      %span.statistics-title
        Total
      %span.statistics-value
        = @all_transactions_user

.profile-picture-mobile
  .profile-img{style: "background-image: url(#{current_user.picture_url})"}
  .drop-menu
    %a.dropdown-container.current-user{href: account_path}
      %span.username
        = current_user