= render 'modal-emoji'
= render 'welcome-modal'
= render 'modal-guideline'
= render 'help-modal'
= render 'modal-whatsnew'
= render 'modal-attachment'

.header-bg
  .header
    .img-container
      %a{href: root_url}
        = image_tag('kudo-o-matic-white.png', class:'header-img')
        = image_tag('lizard.png', class:'mobile-img')

    .github
      %p
        = "Bugs, issues or suggestions?\n Please report them"
        %a{href:'https://github.com/kabisa/kudo-o-matic/issues', target:'blank'}
          here!
.page
  .body
    .container-left
      .fixed-div-left
        = render 'profile-menu'
        = render 'kudo-counter-dashboard'
        = render 'statistics'
    .container-center
      = render 'message'
      = render 'transaction'
      = render 'filter'
      #results
        = render 'timeline'
    .container-right
      .fixed-div-right
        = render 'kudos-counter'
