= render 'emoji-modal'
= render 'welcome-modal'
= render 'guideline-modal'
%header


%body
  .header-bg
    %img.header-img{src:'https://www.kabisa.nl/images/kabisa-logo-d9ace243.png'}
  .page
    -#.header
    -#  .container-header
        %h1.title
          %span.title-border
            Kudo-o-Matic
        %h2.subtitle
          Home

    .body
      .container-left
        = render 'profile-menu'
        -#= render 'kudo-counter-dashboard'
        -#= render 'statistics'
        -#= render 'goals'
      .container-center
        -#= render 'message'
        = render 'transaction'
        -#= render 'filter'
        #results
          = render 'timeline'
      .container-right
        = render 'kudos-counter'
        -#= render 'statistics'