= render 'emoji-modal'
= render 'welcome-modal'
= render 'guideline-modal'

%header

%body
  .header-bg
    .header
      .img-container
        = image_tag('kabisa-logo-white.png', class:'header-img')
      .github
        %p
          = "Bugs, issues or suggestions?\n Please report them"
          %a{href:'https://github.com/kabisa/kudo-o-matic/issues', target:'blank'}
            here!
  .side-message
    %a.what-new{href:'#'}
      What's
      %br
      new?
    %span.toggle-side-message.fa.fa-chevron-left
  .page
    .body
      .container-left
        = render 'profile-menu'
        = render 'kudo-counter-dashboard'
        = render 'statistics'
      .container-center
        = render 'message'
        = render 'transaction'
        = render 'filter'
        #results
          = render 'timeline'
      .container-right
        = render 'kudos-counter'