= render 'emoji-modal'
= render 'welcome-modal'
= render 'guideline-modal'
%header


%body
  .header-bg
    .header
      .img-container
        = image_tag('kabisa-logo-white.png', class:'header-img')
      .github
        %p
          = "Bugs, issues or suggestions?\n Please report them"
          %a{href:'https://github.com/kabisa/kudo-o-matic/issues', target:'blank'}
            here!
  .page
    -#.header
    -#  .container-header
        %h1.title
          %span.title-border
            Kudo-o-Matic
        %h2.subtitle
          Home
    .body
      .container-left
        = render 'profile-menu'
        -#= render 'kudo-counter-dashboard'
        = render 'statistics'
        -#= render 'goals'
      .container-center
        = render 'message'
        = render 'transaction'
        -#= render 'filter'
        #results
          = render 'timeline'
      .container-right
        = render 'kudos-counter'
        -#= render 'statistics'