= render 'modal-emoji'
= render 'modal-guideline'
= render 'modal-attachment'

= render 'layouts/header'
.page
  .body
    .container-left
      .fixed-div-left
        = render 'profile-menu'
        .dashboard
          = render 'kudo-counter-dashboard'
        .statistic-board
          = render 'statistics', weekly_kudos: @weekly_kudos, monthly_kudos: @monthly_kudos, all_kudos: @all_kudos
    .container-center
      = render 'message'
      - if !current_user.restricted?
        = render 'transaction'
      = render 'filter'
      #results
        = render 'timeline', markdown: @markdown
    .container-right
      .fixed-div-right
        = render 'kudos-counter'
    .btn.btn-primary.back-to-top
      %i.fa.fa-arrow-up