%h1 Give some kudos!

= simple_form_for @transaction do |f|
  = f.input :sender, as: :autocomplete, source_query: autocomplete_user_name_users_url, field_id: false
  = f.input :receiver, as: :autocomplete, source_query: autocomplete_user_name_users_url, field_id: false
  = f.input :activity, as: :autocomplete, source_query: autocomplete_activity_name_activities_url, field_id: false
  = f.input :amount

  = f.submit 'Give kudos'

