.container.center
  .col-md-5
    %h1
      = t('dashboard.title')

    = simple_form_for @transaction do |f|
      .span
        = f.input_field :receiver,  as: :autocomplete, source_query: autocomplete_user_name_users_url, field_id: false,  placeholder: 'To',required: true , :autofocus => true
      .span
        = f.input_field :amount, input_html:{ min: '0', max: '999', step: 'any'} , placeholder: 'Amount',required: true
      .span
      = f.input_field :activity, as: :autocomplete, source_query: autocomplete_activity_name_activities_url, field_id: false, placeholder: 'For',required: true

      = f.submit t('dashboard.submit_kudos')

  .col-md-7
    %br
      %p
        These are the
        = link_to t('dashboard.guidelines'), :guidelines_transactions, class: 'reference'
        that are around
        %span#amount_of_kudo_clone
        Kudos
      .guidelines_container
        %ul



