.container.center
  .row
    .col-md-12
      %br
      %br
      %br
      %h1
        = t('dashboard.title')

      = simple_form_for @transaction do |f|
        = t('dashboard.i_give');
        = f.input_field :receiver,  as: :autocomplete, source_query: autocomplete_user_name_users_url, field_id: false,  placeholder: 'receiver'
        = f.input_field :amount, placeholder: '#'
        = t('kudos')

        %br

        =t('dashboard.for')
        = f.input_field :activity, as: :autocomplete, source_query: autocomplete_activity_name_activities_url, field_id: false, placeholder: 'activity'

        %br

        = f.submit t('dashboard.submit_kudos')
  .row
    .col-md-12
      %br
      = link_to t('dashboard.guidelines'), :guidelines_transactions, class: 'reference'