
%body
  .page
    .header
      .container-logo
        %img.logo{src: 'https://www.kabisa.nl/images/kabisa-logo-contact-658ee9c2.png'}
    .body
      .container-left
        %div#new-transaction
          %button.transaction-button{onclick:'showDiv()'}
            New Transaction
      .container-center
        %div#create-transaction-container
          %div
            %h1.transaction-container-title
              Give ₭udo's!
          = simple_form_for @transaction do |f|
            .receiver
              = f.text_field :receiver_name, data: { autocomplete_source: users_autocomplete_path}, field_id: false,  placeholder: 'To (max. 35 characters)', required: true , maxlength: '35'
            .amount
              = f.input_field :amount, input_html:{ min: '0', max: '999', step: 'any'} , placeholder: 'Amount',required: true
            .activity
              = f.input_field :activity_name, as: :text, data: { autocomplete_source: activities_autocomplete_path}, field_id: false,  placeholder: 'For (min. 4, max. 60 characters', required: true, maxlength: '60'
            .span
              = f.submit t('dashboard.submit_kudos'), id: 'send-kudos-button'
        .timeline-container
          .transaction-container
            .kudos-amount-large
              %div#kudos-container
                %span
                  = "+#{Transaction.last.amount}"
            -#.avatar-receiver
            -#  %div
            -#    %img#avatar{src: 'https://avatars2.githubusercontent.com/u/1531725?v=3&s=280'}
            .transaction-content
              %span
                = "#{Transaction.last.sender}: +#{Transaction.last.amount} ₭ to #{Transaction.last.receiver_name_feed} for #{Transaction.last.activity_name_feed}"
            %div
              %button#like-button
                Like
              %span.post-time-stamp
              = distance_of_time_in_words(DateTime.now, Transaction.last.created_at)
              ago
      .container-right

%body
  .page
    .header

    .body
      .container-left

      .container-center
        .timeline-container
          .transaction-container
            - @transactions.each do |transaction|
              .post-container
                .avatar
                  = image_tag User.find(transaction.sender_id).picture_url
                  = image_tag transaction.receiver_image
                .s_and_r_container
                  .amountofkudos
                  = transaction.amount
                  %span
                    ₭
                  .sendername
                    = transaction.sender.name
                  %span
                    %span.glyphicon.glyphicon-menu-right{"aria-hidden" => "true"}
                  .receivername
                    = transaction.receiver_name_feed
                  %span.post-time-stamp
                    = distance_of_time_in_words(DateTime.now, transaction.created_at)
                    ago
                  .activityname
                    %span
                      = transaction.activity_name_feed.capitalize