.header-bg
  .header
    .img-container
      - if current_team
        -if current_team.logo.exists?
          = link_to image_tag(current_team.logo.exists?(:thumb) ? current_team.logo.url(:thumb) : current_team.logo,
                  class:'team-logo'), dashboard_url(team: current_team.slug)
        -else
          %a{href: dashboard_url(team: current_team.slug)}
            %h1.team-title
              = current_team.name
      - else
        %a{href: root_url}
          = image_tag('kudo-o-matic-white.png', class:'header-img')
          = image_tag('lizard.png', class:'mobile-img')

    .github
      %p
        = "Bugs, issues or suggestions?\n Please report them"
        %a{href:'https://github.com/kabisa/kudo-o-matic/issues', target:'blank'}
          here!
