!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{name: "theme-color", content: "#4B4656"}
    %title ₭udo-o-Matic™
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', async: Rails.env.production?
    = csrf_meta_tags
    = favicon_link_tag image_path('favicon.ico')
    - if current_team
      = render 'layouts/team_style'
  %body{:class => ("team-page" unless current_team.nil?)}
    = yield
